$very-light-blue-color: #7dd0fc;
$light-blue-color: #22b2ff;
$medium-blue-color: #008cff;
$medium-brown-color: #725843;
$light-green-color: #50a548;
$medium-green-color: #129030;
$dark-grey-color: #383838;
