$original-express-light-blue: #00b7ff;
$very-light-blue-color: #7dd0fc;
$light-blue-color: #22b2ff;
$medium-blue-color: #008cff;
$medium-brown-color: #725843;
$light-green-color: #50a548;
$medium-green-color: #129030;
$dark-grey-color: #383838;
$white-color: #ffffff;

// Coolers palette 1
$coolers1-med-blue: #3d5a80;
$coolers1-light-blue: #98c1d9;
$coolers1-pale-blue: #e0fbfc;
$coolers1-warning-orange: #ee6c4d;
$coolers1-black: #293241;

// Coolers palette 2
$coolers2-light: #ffebe7;
$coolers2-light-pink: #ffc0be;
$coolers2-pink: #ff82a9;
$coolers2-blue: #7f95d1;
$coolers2-black: #000000;
