<!DOCTYPE html>
<html>
  <head>
    <title><%= category.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= category.name %></h1>
    <p><%= category.description %></p>
    <button>Edit</button>
  </body>
</html>
