<div class="categories-component">
  <div class="categories-header">
    <h2 class="title"><%= title %></h2>
    <a href="categories/new">
      <p>+ add category</p>
    </a>
  </div>

  <div class="categories-container">
    <% categories.forEach((category) => { %>
    <div class="single-category-container">
      <a href="/<%= category.url %>"><h3><%= category.name %></h3></a>
      <p><%= category.description %></p>
    </div>
    <% }); %>
  </div>
</div>
