<div class="categories-component">
  <h2 class="title"><%= title %></h2>
  <div class="categories-container">
    <% categories.forEach((category) => { %>
    <div class="single-category-container">
      <a href="/<%= category.url %>"><h3><%= category.name %></h3></a>
      <p><%= category.description %></p>
    </div>
    <% }); %>
  </div>
  <div class="button-container">
    <a href="categories/new">
      <p>+ add category</p>
    </a>
  </div>
</div>
