<form action="/<%= category.url %>/remove" method="post">
  <p>Are you sure you want to delete the <%= category.name %> category?</p>
  <button type="submit">Yes</button>
  <a href="/<%= category.url %>"><p>No</p></a>
</form>
