<form class="category-form" action="edit" method="post">
  <h2>Edit category</h2>
  <div class="form-input-container">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="<%= category.name %>" />
  </div>
  <div class="form-input-container">
    <label for="description">Description</label>
    <input
      type="text"
      id="description"
      name="description"
      value="<%= category.description %>"
    />
  </div>
  <div class="button-container">
    <button type="submit">Submit</button>
    <a href="/<%= category.url %>">Cancel</a>
  </div>
</form>
