<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Management App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="page-wrapper">
      <nav class="main-navbar">
        <a href="/">Home</a>
        <a href="/categories">Categories</a>
        <a href="">Items</a>
      </nav>
      <main class="page-content"><%- body %></main>
    </div>
  </body>
</html>
