<form class="form item-form" action="new" method="post">
  <h2 class="title">Create new item</h2>
  <div class="form-input-container">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
  </div>
  <div class="form-input-container">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" />
  </div>
  <div class="form-input-container">
    <label for="category">Category</label>
    <select name="category" id="category">
      <% categories.forEach((category) => { %>
      <option value="<%= category.name %>"><%= category.name %></option>
      <% }); %>
    </select>
  </div>
  <div class="form-input-container">
    <label for="price">Price</label>
    <input type="text" id="price" name="price" />
  </div>
  <div class="form-input-container">
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" />
  </div>
  <div class="button-container">
    <button type="submit">Submit</button>
    <a href="javascript:history.back()">Cancel</a>
  </div>
</form>
