* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ol,
ul,
li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p,
a,
label,
input,
button,
option {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.main-navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  gap: 1rem;
  align-items: baseline;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.25rem;
}

.sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-wrapper {
  margin: 50px auto;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 1100px;
}
.page-wrapper > * {
  margin: 2rem;
}

@media (max-width: 800px) {
  .page-wrapper {
    margin: 10px auto;
  }
}
.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: #00000076 0 0.25rem 0.5rem;
}
.home-page .home-header {
  background-color: #293241;
  flex: 1;
}
.home-page .home-header * {
  padding: 1.5rem;
  text-align: center;
}
.home-page .home-image {
  flex: 1;
  min-height: 300px;
  background-color: #0000004b;
  background-image: url("/images/guillaume-bolduc-uBe2mknURG4-unsplash.jpg");
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .home-page {
    flex-direction: column;
  }
}
.categories-page {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  gap: 1rem;
}
.categories-page .categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  align-items: stretch;
  gap: 1rem;
}
.categories-page .categories-container .single-category-container {
  box-shadow: #00000076 0 0.25rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: #293241;
  padding: 1rem;
}
.categories-page .categories-container .single-category-container p {
  font-size: 0.9rem;
}

.items-page {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  gap: 1rem;
}
.items-page .items-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  align-items: stretch;
  gap: 1rem;
}
.items-page .items-list .item {
  box-shadow: #00000076 0 0.25rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: #293241;
  padding: 1rem;
}
.items-page .items-list .item p {
  font-size: 0.9rem;
  align-self: flex-end;
}
.items-page .items-list .item p a {
  font-size: 0.9rem;
}

.category-page {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  gap: 1rem;
}
.category-page .items-container .items-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  align-items: stretch;
  gap: 1rem;
}
.category-page .items-container .items-list .item {
  box-shadow: #00000076 0 0.25rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: #293241;
  padding: 1rem;
}
.category-page .items-container .items-list .item p {
  font-size: 0.9rem;
  align-self: flex-end;
}

.item-page {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  gap: 1rem;
  box-shadow: #00000076 0 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #293241;
  padding: 1rem;
}
.item-page .details-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: stretch;
  gap: 1rem;
  background-color: #293241;
  padding: 2rem;
  border-radius: 0.5rem;
}
.form .form-input-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: stretch;
  gap: 0.25rem;
}
.form .form-input-container input:focus,
.form .form-input-container select:focus {
  background-color: #e0fbfc;
  outline: none;
}
.form button[type=submit]:hover {
  background-color: #ee6c4d;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #3d5a80;
}

a {
  color: #fff;
  border-bottom: 1px solid #00000000;
  transition: all 125ms ease-in-out;
}
a:hover {
  color: #e0fbfc;
  border-bottom: 1px solid #e0fbfc;
}

input,
select,
option {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}

.back-link {
  text-align: right;
  font-size: 1rem;
}

.title {
  flex: 1;
}

.edit-buttons {
  display: flex;
}
.edit-buttons > * {
  margin: 0 0.5rem;
  font-size: 1rem;
}
.edit-buttons .remove:hover {
  color: #ee6c4d;
  border-color: #ee6c4d;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: stretch;
  gap: 1rem;
}

.delete-check-page {
  background-color: #293241;
  padding: 1rem;
  border-radius: 0.5rem;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.button-container button,
.button-container a {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #293241;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 150ms ease-in-out;
}
.button-container button:hover,
.button-container a:hover {
  background-color: #e0fbfc;
}

/*# sourceMappingURL=style.css.map */
