@use '../abstracts' as *;

.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; //! get this working
  box-shadow: #00000076 0 0.25rem 0.5rem;

  .home-header {
    background-color: $container-bg;
    flex: 1;

    * {
      padding: 1.5rem;
      text-align: center;
    }
  }

  .home-image {
    flex: 1;
    min-height: 300px;
    background-color: #0000004b;
    background-image: url('/images/guillaume-bolduc-uBe2mknURG4-unsplash.jpg');
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 800px) {
  .home-page {
    flex-direction: column;
  }
}
