@use '../layouts' as *;
@use '../abstracts' as *;

.item-page {
  @include flex-column(stretch, stretch, 1rem);
  border-radius: 0.5rem;
  background-color: $container-bg;
  padding: 1rem;

  .item-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.25rem;
  }

  .sub-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
  }
}
