@use '../layouts' as *;
@use '../abstracts' as *;

.item-page {
  @include flex-column(stretch, stretch, 1rem);
  @include shadow;
  border-radius: 0.5rem;
  background-color: $container-bg;
  padding: 1rem;

  .details-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
  }
}
